.section-title {
  font-size: 2.55rem;
  font-weight: 300;
  text-align: center;

  @mixin atSmall {
    font-size: 3.75rem;
  }

  &__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.6rem;

    @mixin atSmall {
      margin-right: 0.5rem;
      margin-left: 0;
      margin-bottom: 0;
      display: inline-block;
    }
  }

  strong {
    font-weight: 500;
  }
}