.site-header {
  padding: 10px 0;
  position: absolute;
  width: 100%;
  z-index: 2;
  transition: background-color 0.3s ease-out;

  &--is-expanded {
    background-color: rgba($mainBlue, 0.55);
  }

  @mixin atMedium {
    background-color: rgba($mainBlue, 0.3);
  }

  &__btn-container {
    @mixin atMedium {
      float: right;
    }
  }

  &__logo {
    position: absolute;
    background-color: $mainBlue;
    padding: 20px 36px;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
    transform-origin: 50% 0;

    @mixin atMedium {
      left: auto;
      transform: translateX(0);
    }

    &__graphic {
      text-indent: -9999px;
    }
  }

  &__menu-icon {
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-content {
    opacity: 0;
    transform: scale(1.2);
    transition: all 0.3s ease-out;
    padding-top: 90px;
    text-align: center;
    z-index: -10;
    position: relative;

    @mixin atMedium {
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      transform: scale(1);
    }

    &--is-visible {
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }
  }
}